<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>png</key>
		<string>ebg</string>
		<key>chs</key>
		<string>[开心]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>eca</string>
		<key>chs</key>
		<string>[可爱]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>deg</string>
		<key>chs</key>
		<string>[难过]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>ebs</string>
		<key>chs</key>
		<string>[哭]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>ebr</string>
		<key>chs</key>
		<string>[大哭]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>eft</string>
		<key>chs</key>
		<string>[闭嘴]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>den</string>
		<key>chs</key>
		<string>[衰]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>dec</string>
		<key>chs</key>
		<string>[心]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>edn</string>
		<key>chs</key>
		<string>[赞]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>eda</string>
		<key>chs</key>
		<string>[抱抱]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>edo</string>
		<key>chs</key>
		<string>[弱]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>edp</string>
		<key>chs</key>
		<string>[握手]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>edq</string>
		<key>chs</key>
		<string>[胜利]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>ebn</string>
		<key>chs</key>
		<string>[玫瑰]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>eet</string>
		<key>chs</key>
		<string>[鼓掌]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>eew</string>
		<key>chs</key>
		<string>[糗大了]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>dfy</string>
		<key>chs</key>
		<string>[礼物]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>ebh</string>
		<key>chs</key>
		<string>[调皮]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>ebl</string>
		<key>chs</key>
		<string>[偷笑]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>edb</string>
		<key>chs</key>
		<string>[坏笑]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>ecn</string>
		<key>chs</key>
		<string>[白眼]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>ect</string>
		<key>chs</key>
		<string>[憨笑]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>ebu</string>
		<key>chs</key>
		<string>[酷]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>ecp</string>
		<key>chs</key>
		<string>[吃惊]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>ecc</string>
		<key>chs</key>
		<string>[害羞]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>eca</string>
		<key>chs</key>
		<string>[疑问]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>ebw</string>
		<key>chs</key>
		<string>[委屈]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>eco</string>
		<key>chs</key>
		<string>[傲慢]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>ecl</string>
		<key>chs</key>
		<string>[爱你]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>ecy</string>
		<key>chs</key>
		<string>[留鼻涕]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>ebj</string>
		<key>chs</key>
		<string>[汗]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>ecs</string>
		<key>chs</key>
		<string>[亲亲]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>efa</string>
		<key>chs</key>
		<string>[快哭了]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>ede</string>
		<key>chs</key>
		<string>[晕]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>ecz</string>
		<key>chs</key>
		<string>[右哼哼]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>eex</string>
		<key>chs</key>
		<string>[左哼哼]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>ebt</string>
		<key>chs</key>
		<string>[嘘]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>ebv</string>
		<key>chs</key>
		<string>[抓狂]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>eer</string>
		<key>chs</key>
		<string>[疯了]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>ece</string>
		<key>chs</key>
		<string>[吐]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>eez</string>
		<key>chs</key>
		<string>[打哈气]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>eep</string>
		<key>chs</key>
		<string>[瞌睡]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>ecg</string>
		<key>chs</key>
		<string>[怒]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>eci</string>
		<key>chs</key>
		<string>[惊恐]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>eeo</string>
		<key>chs</key>
		<string>[馋嘴]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>ebo</string>
		<key>chs</key>
		<string>[拜拜]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>ecx</string>
		<key>chs</key>
		<string>[奋斗]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>ebq</string>
		<key>chs</key>
		<string>[擦汗]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>eeg</string>
		<key>chs</key>
		<string>[心碎]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>ecr</string>
		<key>chs</key>
		<string>[睡觉]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>ebx</string>
		<key>chs</key>
		<string>[便便]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>ecb</string>
		<key>chs</key>
		<string>[色]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>ecw</string>
		<key>chs</key>
		<string>[阴险]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>edd</string>
		<key>chs</key>
		<string>[鄙视]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>ees</string>
		<key>chs</key>
		<string>[抠鼻]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>ecv</string>
		<key>chs</key>
		<string>[撇嘴]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>ecf</string>
		<key>chs</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>ebp</string>
		<key>chs</key>
		<string>[敲头]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>ecd</string>
		<key>chs</key>
		<string>[得意]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>ecj</string>
		<key>chs</key>
		<string>[冷汗]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>ech</string>
		<key>chs</key>
		<string>[尴尬]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>eeq</string>
		<key>chs</key>
		<string>[大骂]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>efb</string>
		<key>chs</key>
		<string>[发呆]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>dfq</string>
		<key>chs</key>
		<string>[月亮]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>edi</string>
		<key>chs</key>
		<string>[大兵]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>edj</string>
		<key>chs</key>
		<string>[可怜]</string>
	</dict>
</array>
</plist>
